@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 100;
  src: url('styles/fonts/NotoSansKR-Light.woff2') format('woff2'),
    url('styles/fonts/NotoSansKR-Light.woff') format('woff'),
    url('styles/fonts/NotoSansKR-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: normal;
  src: url('styles/fonts/NotoSansKR-Regular.woff2') format('woff2'),
    url('styles/fonts/NotoSansKR-Regular.woff') format('woff'),
    url('styles/fonts/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 500;
  src: url('styles/fonts/NotoSansKR-Medium.woff2') format('woff2'),
    url('styles/fonts/NotoSansKR-Medium.woff') format('woff'),
    url('styles/fonts/NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: bold;
  src: url('styles/fonts/NotoSansKR-Bold.woff2') format('woff2'),
    url('styles/fonts/NotoSansKR-Bold.woff') format('woff'),
    url('styles/fonts/NotoSansKR-Bold.otf') format('truetype');
}

body {
  background: linear-gradient(to right, #2bc0e4, #9198e5);
  font-family: 'Noto Sans CJK KR';
}

input {
  --webkit-box-shadow: 0 0 0px 1000px snow inset;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: #6eaebd;
  color: darkslategray;
  font-size: 1.2em;
  padding: 5px;
}

.input::placeholder {
  color: rgb(188, 188, 188);
}

/* login page */
.login-container {
  background-color: snow;
  text-align: center;
  color: #005368;
  width: 450px;
  height: 445px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -225px;
  margin-top: -225px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-icon {
  margin-top: 30px;
}

.login-order {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  color: #1d98b6;
  white-space: pre-line;
  margin-top: -15px;
}

.info-input {
  width: 340px;
}

.login-button {
  background: linear-gradient(to right, #2bc0e4, #9198e5);
  width: 350px;
  height: 35px;
  margin-bottom: 40px;
  border: none;
  color: snow;
  font-size: 1.2em;
  letter-spacing: 5px;
}

.event-title {
  text-align: center;
  font-size: large;
  color: rgb(27, 26, 44);
  padding-top: 10px;
  padding-bottom: 5px;
}

.spin-content {
  position: relative;
  margin: 20px auto;
  text-align: center;
  min-width: 800px;
}

.button-wrap {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spin-button {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: rgb(85, 80, 221);
  cursor: pointer;
  border: none;
  font-size: 40px;
  color: white;
}

.arrow-wrap {
  position: absolute;
  top: -10%;
  left: 48%;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 100px solid darkblue;
  z-index: 1;
}

.on {
  animation-name: spin;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    transition-timing-function: ease-out;
  }
  100% {
    transform: rotate(360deg);
  }
}
