@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 100;
  src: url('styles/fonts/NotoSansKR-Light.woff2') format('woff2'),
    url('styles/fonts/NotoSansKR-Light.woff') format('woff'),
    url('styles/fonts/NotoSansKR-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: normal;
  src: url('styles/fonts/NotoSansKR-Regular.woff2') format('woff2'),
    url('styles/fonts/NotoSansKR-Regular.woff') format('woff'),
    url('styles/fonts/NotoSansKR-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 500;
  src: url('styles/fonts/NotoSansKR-Medium.woff2') format('woff2'),
    url('styles/fonts/NotoSansKR-Medium.woff') format('woff'),
    url('styles/fonts/NotoSansKR-Medium.otf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: bold;
  src: url('styles/fonts/NotoSansKR-Bold.woff2') format('woff2'),
    url('styles/fonts/NotoSansKR-Bold.woff') format('woff'),
    url('styles/fonts/NotoSansKR-Bold.otf') format('truetype');
}

body {
  background: linear-gradient(to right, #3877ec, #764fc3),
    url('./styles/textures/texture.png');
  background-size: cover;
  -webkit-background-size: cover;
  background-repeat: repeat;
  font-family: 'Noto Sans CJK KR';
}

input {
  width: 340px;
  padding: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: #6eaebd;
  outline: none;
  color: darkslategray;
  font-size: 1.2em;
  text-align: center;
}

/* main page */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.main-image {
  width: 600px;
  margin-top: -60px;
}

.main-button {
  background: transparent !important;
  margin-top: -600px !important;
  font-size: 1.2em !important;
}

.main-button:hover {
  color: rgb(255, 208, 0);
}

/* enter page */
.enter-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  background-color: snow;
  width: 60%;
  height: 80%;
  max-width: 800px;
  min-width: 600px;
  margin: 0px;
  margin-top: 50px;
  margin-bottom: 30px;
  outline: 2px solid cadetblue;
  outline-offset: -10px;
  overflow: auto;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #005368;
  text-align: center;
}

.info-icon {
  margin-top: 30px;
}

.input-guide {
  white-space: pre-line;
  margin-top: 12px;
  margin-bottom: 20px;
  color: #1d98b6;
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: bold;
  font-size: 1.8em;
  letter-spacing: 2.5px;
}

.additional-guide {
  margin-top: -3px;
  font-size: 0.78em;
  letter-spacing: 1px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-guide {
  margin-top: 50px;
  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 500;
  font-size: 1.1em;
}

.info-input {
  width: 340px;
  margin-top: 15px;
  text-align: center;
}

.info-input:focus {
  outline: none;
}

/* .id-input {
  display: flex;
}

.id-first {
  width: 150px;
  text-align: right;
}

.idHypen {
  width: 30px;
}

.idGender {
  width: 10px;
}

.id-last {
  width: 130px;
  text-align: left;
} */

.identification-container {
  margin-top: 30px;
  margin-bottom: 50px;
}

.tokend {
  display: none;
}

.input-unit {
  position: relative;
  left: 160px;
  top: -25px;
}

.radio-container {
  max-width: 340px;
  min-width: 120px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.radio-input {
  /* max-width: 100px;
  min-width: 20px; */
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
}

.radio-select {
  width: 20px;
  margin-right: 20px;
}

.select-container {
  margin-top: 20px;
  max-width: 340px;
  min-width: 300px;
  height: 30px;
  border-color: #6eaebd;
  outline-color: #6eaebd;
  color: darkslategray;
  font-size: 1.1em;
  text-indent: 5px;
}

.react-datepicker-wrapper {
  margin-top: 10px;
  width: 340px;
}

.react-datepicker-ignore-onclickoutside {
  text-align: center;
}

.kakao-button {
  background: linear-gradient(to right, #e3c00d, #f2ff00);
  border: none;
  width: 400px;
  min-height: 40px;
  margin-top: 30px;
  margin-bottom: 100px;
  color: black;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 5px;
}

.kakao-button:hover {
  background: black;
  color: yellow;
}

.kakao-image {
  width: 320px;
}

.kakao-image:hover {
  filter: opacity(0.9) drop-shadow(0 0 0 black);
}

.enter-button {
  background: linear-gradient(to right, #2bc0e4, #9198e5);
  width: 350px;
  min-height: 40px;
  border: none;
  color: snow;
  font-size: 1.2em;
  letter-spacing: 5px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.enter-button:hover {
  background: linear-gradient(to right, #e0dd2a, #2fde60);
}

/* check page*/
.consent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-guide {
  background-color: snow;
  max-width: 1000px;
  min-width: 500px;
  max-height: 500px;
  min-height: 400px;
  top: 50%;
  left: 50%;
  margin-top: 100px;
  overflow-y: auto;
}

.info-img {
  width: 100%;
  margin: 0px;
}

.check-container {
  margin-top: 10px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: snow;
  font-size: 0.9em;
}

.checkbox {
  position: relative;
  width: 20px;
  height: 15px;
  left: -243px;
  bottom: -20px;
  /* padding-top: 10px; */
}

.consent-button {
  background: linear-gradient(to right, #1c849e, #656ba3);
  width: 350px;
  height: 40px;
  margin-top: 20px;
  border: none;
  color: snow;
  font-size: 1.2em;
  letter-spacing: 5px;
}

.consent-button:hover {
  background: linear-gradient(to right, #e0dd2a, #2fde60);
}

.event-title {
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-size: large;
  color: rgb(27, 26, 44);
}

.spin-content {
  position: relative;
  min-width: 800px;
  margin: 20px auto;
  text-align: center;
}

.button-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.spin-button {
  background-color: rgb(85, 80, 221);
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.arrow-wrap {
  position: absolute;
  top: -10%;
  left: 48%;
}

.arrow {
  width: 0;
  height: 0;
  z-index: 1;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 100px solid darkblue;
}

.on {
  animation-name: spin;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    transition-timing-function: ease-out;
  }
  100% {
    transform: rotate(360deg);
  }
}
