body {
  background-color: snow;
}

.event-title {
  text-align: center;
  font-size: large;
  color: rgb(27, 26, 44);
  padding-top: 10px;
  padding-bottom: 5px;
}

.spin-content {
  position: relative;
  margin: 20px auto;
  text-align: center;
  min-width: 800px;
}

.button-wrap {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spin-button {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  background-color: rgb(85, 80, 221);
  cursor: pointer;
  border: none;
  font-size: 40px;
  color: white;
}

.arrow-wrap {
  position: absolute;
  top: -10%;
  left: 48%;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 100px solid darkblue;
  z-index: 1;
}

.on {
  animation-name: spin;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    transition-timing-function: ease-out;
  }
  100% {
    transform: rotate(360deg);
  }
}

/* li:nth-child(2) .text {
  background-color: #00dc93;
}
li:nth-child(3) .text {
  background-color: rgb(189, 189, 255);
}
li:nth-child(4) .text {
  background-color: rgb(138, 138, 250);
}
li:nth-child(5) .text {
  background-color: rgb(67, 67, 108);
}
li:nth-child(6) .text {
  background-color: rgb(131, 131, 165);
}
li:nth-child(7) .text {
  background-color: rgb(168, 144, 219);
} */
/* li:nth-child(8) .text {
  background-color: rgba(132, 174, 191);
}
li:nth-child(9) .text {
  background-color: rgb(99, 153, 174);
}
li:nth-child(10) .text {
  background-color: rgba(18, 97, 128, 0.461);
}
li:nth-child(11) .text {
  background-color: rgba(41, 80, 132, 0.461);
}
li:nth-child(12) .text {
  background-color: rgba(33, 51, 75, 0.461);
} */

/* li:nth-child(2) {
  transform: rotate(0deg) skewY(360deg);
}
li:nth-child(3) {
  transform: rotate(90deg) skewY(120deg);
}
li:nth-child(4) {
  transform: rotate(90deg) skewY(-60deg);
}
li:nth-child(5) {
  transform: rotate(120deg) skewY(-60deg);
}
li:nth-child(6) {
  transform: rotate(150deg) skewY(-60deg);
}
li:nth-child(7) {
  transform: rotate(180deg) skewY(-60deg);
} */
/* li:nth-child(8) {
  transform: rotate(210deg) skewY(-60deg);
}
li:nth-child(9) {
  transform: rotate(240deg) skewY(-60deg);
}
li:nth-child(10) {
  transform: rotate(270deg) skewY(-60deg);
}
li:nth-child(11) {
  transform: rotate(300deg) skewY(-60deg);
}
li:nth-child(12) {
  transform: rotate(330deg) skewY(-60deg);
} */
/* 
.circle {
  width: 30em;
  height: 30em;
  position: relative;
  padding: 0;
  margin: 1em auto;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
}
li {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}
.text {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align: center;
  display: block;
  transform: skewY(60deg) rotate(50deg);
  padding-top: 20px;
  cursor: pointer;
}

.spin-button {
  position: absolute;
  left: 45%;
  width: 120px;
  height: 40px;
  background-color: black;
  border-radius: 30px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 18px;
}

.spin {
  animation: rotation 1s linear infinite;
}
@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
} */
